# Ignore virtual environment
venv/

# Ignore Python cache files
__pycache__/
*.py[cod]
*.pyo

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings (optional)
.vscode/

# Ignore system files
.DS_Store
Thumbs.db
